body {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;

}

header#title-block-header {
  border-bottom: 1px solid #a2a2a2;
  font-family: "Gill Sans";
}

header#title-block-header h1 {
  font-weight: 200;
  font-size: 3.14em;
}

h1[id], h2, h3, h4, h5, h6 {
  margin-left: -2rem;
  font-family: "Gill Sans";
  font-weight: 200;
}

p {
  font-family: "Helvetica", sans-serif;
}
code {
  font-family: "Meno", monospace;
}
