createdAt: "2019-01-07T08:24:44.194Z"
updatedAt: "2019-01-14T16:24:43.671Z"
type: "MARKDOWN_NOTE"
folder: "d100ebf6344246eb5804"
title: "ToDo list"
tags: [
  "TODO"
]
content: '''
  # ToDo list
  
  - [x] Installer `boost` (et tester un premier programme avec `ublas`)
  - [x] Installer `fftw` (et tester un premier programme pour vérifier l'installation et options de compilation)
  - [x] Classe `field` qui hérite de `boost::multi_array`
  - [x] Extraction d'un *stencil* du champ
  - [ ] Transport WENO
  - [ ] Transport FFT
  
  ## Tests unitaires
  
  - [ ] Construction et accès aux données de `field`
  - [ ] Calcul des moments
  - [ ] Calcul du flux
  - [ ] Calcul de $(\\rho,u,T)$ (depuis les moments)
  - [ ] Calcul de la maxwellienne
  - [ ] Retrouver l'ordre de WENO
  
'''
isStarred: false
isTrashed: false
